body{
    background-color: black;
}

/* Header & Banner */
header {

  animation: slideDown 1s ease-out;
}
@keyframes slideDown {
      from { transform: translateY(-100%); opacity: 0; }
      to { transform: translateY(0); opacity: 1; }
    }